h1{
    color:rgb(50,0,0);
    margin-bottom:-10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h2{
    color:rgb(50,0,0);
    margin-top:-10px;
    margin-bottom:-10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p{
    color:rgb(50,0,0);
    font-family:'Courier New', Courier, monospace
}

body{
    color:rgb(50,0,0);
    margin-left:70px;
    margin-top:50px;
    margin-right:70px;
    background-color: rgb(214,190,190)
}

a{
    margin-top:20px;

}


